#attribute{
    margin-left : 340px;
    display: flex;
    flex-direction: row;
}
#Player,#ai{
    width: 60%;
    height: 150px;
    padding: 0em 1em;
    margin: 0.5% 1.3%;
    font-weight: bold;
    color: #40ff00;
    background: #FFF;
    border: solid 6px #0175fabd;
    border-radius: 20px;
    
}
p{
    padding: 5px;
    text-align: center;
}

#but{margin-left: 340px;
    width: 150px;
    background-color: yellow;
    font-family: auto;font-size: 20px;
    color: blue;
    font-weight: bold;
}
